# EXPORT-IGNORE

/.gitattributes     export-ignore
/.gitignore         export-ignore
/.editorconfig      export-ignore
/phpcs.xml          export-ignore
/phpunit.xml        export-ignore
/Dockerfile         export-ignore
/Makefile           export-ignore
/tests              export-ignore
/example            export-ignore
/dockerfiles        export-ignore
