<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  bootstrap="tests/bootstrap.php"
  backupGlobals="false"
  backupStaticAttributes="false"
  colors="true"
  verbose="true"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  processIsolation="false"
  stopOnFailure="true"
  beStrictAboutTestsThatDoNotTestAnything="true"
>
  <testsuites>
    <testsuite name="One Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist>
      <directory suffix=".php">src/</directory>
      <exclude>
        <directory suffix=".php">src/Console/</directory>
        <directory suffix=".php">src/Swoole/</directory>
      </exclude>
    </whitelist>
  </filter>
  <logging>
    <log type="coverage-html" target="build/coverage" charset="UTF-8" yui="true" highlight="true"/>
  </logging>
</phpunit>
